.login-form {
  margin-top: 5rem;
}

.signup-message {
  padding: 15px;
  border-radius: 15px;
  color: #ff2128;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bolder;
}

.register-link{
  color: #949995;
  font-size: 0.8rem;
}

/*.background{*/
  /*height: 640px;*/
  /*background-repeat: no-repeat;*/
  /*!*background-color: yellow;*!*/

/*}*/

.background{
  height: 640px;
  background-image: linear-gradient(to top, #63c0d6, #fef9ff);
}

/*body{*/
  /*height: 100%;*/
/*}*/

/*html{*/
  /*height: 100%;*/
/*}*/

img{
  height: 70px;
  width: auto;
}

.icon-face{
  color: transparent;
}

.icon-eye{
  color: #5b5b5b;
}




.fontSize {
  font-size: 1.3rem;
}
