<div class="background">

  <br>
  <br>
  <br>
  <br>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
  <img class="logo" src="./assets/images/logo.png">
</div>

<section class="login-form">

  <form (submit)="login()"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">

    <div class="signup-message" *ngIf="failedLoginMessage">Failed login</div>

    <legend class="fontSize" *ngIf="failedLoginMessage === false">Login</legend>

    <mat-form-field hintLabel="Enter username">
      <input
        [(ngModel)]="currentUser.username"
        type="text"
        matInput
        placeholder="Your username"
        ngModel
        name="username"
        required
        #usernameInput="ngModel">
      <mat-icon class="icon-face" matSuffix>tag_faces</mat-icon>
      <mat-error *ngIf="usernameInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        [(ngModel)]="currentUser.password"
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
        [type]="hide ? 'password' : 'text'">
      <mat-icon class="icon-eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent">Submit</button>
    <br>

    <div class="register-link">
      New user? <a routerLink="/signup">Sign up here</a>
    </div>

  </form>

</section>
</div>
