<mat-nav-list>

  <mat-list-item class="welcome">
      <img src="./assets/images/logo.png">
  </mat-list-item>

  <mat-list-item class="welcome-user" *ngIf="user">
    <div> Hello, <span class="capitalize">{{ user.username }}</span></div>
  </mat-list-item>

  <a mat-list-item routerLink="/" style="height: 0;"></a>

  <a *ngIf="!user" mat-list-item routerLink="/signup" (click)="onClose()" class="font-sidenav">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">&nbsp; Signup</span>
  </a>

  <a *ngIf="!user" mat-list-item routerLink="/login" (click)="onClose()" class="font-sidenav">
    <mat-icon>fingerprint</mat-icon>
    <span class="nav-caption">&nbsp; Login</span>
  </a>

  <a *ngIf="user" mat-list-item routerLink="/budget" (click)="onClose()">
    <i class="fas fa-coins"></i>
    <span class="nav-caption">&nbsp; 24h Budget</span>
  </a>

  <a *ngIf="user" mat-list-item routerLink="/history" (click)="onClose()">
    <i class="fas fa-history"></i>
    <span class="nav-caption">&nbsp; History</span>
  </a>

  <mat-list-item *ngIf="user">
    <button mat-icon-button (click)="logout()" (click)="onClose()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">&nbsp;Logout</span>
    </button>
  </mat-list-item>

</mat-nav-list>



