/*
* {
  font-family: Roboto !*Replace with your custom font*!, sans-serif !important;
  !*Add the !important to overwrite all elements*!
}
*/


a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.welcome{
  margin-top: 3rem;
}

.welcome-user{
  font-weight: bold;
  /*font-family: "Calibri";*/
  font-size: 1.2rem;
}

.font-sidenav {
  font-size: 1.0rem;
}

.capitalize {
  display: inline-block;
}

.capitalize::first-letter {
  text-transform: uppercase;
}
