.expense-form{
  margin-top: 5rem;
}

.expense {
  display: flex;
  flex-direction: column;
}

form {
  padding: 20px;
}

.negative-amount-error-message {
  background-color: #f44336;
  padding: 15px;
  border-radius: 15px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}
