<section class="expense-form">

  <form (submit)="createExpense()"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">

    <legend *ngIf="!negativeAmount">New Expense</legend>

    <div class="negative-amount-error-message" *ngIf="negativeAmount">Expenses are greater than 0</div>

    <mat-form-field hintLabel="Enter expense name">
      <input
        [(ngModel)]="newExpense.name"
        type="text"
        matInput
        placeholder="Expense Name"
        ngModel
        name="name"
        required
        #usernameInput="ngModel">
      <mat-error *ngIf="usernameInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Only positive numbers">
      <input
        [(ngModel)]="newExpense.amount"
        type="number"
        min="0"
        matInput
        placeholder="Your Amount"
        ngModel
        name="amount"
        required
        #pwInput="ngModel">
      <mat-error *ngIf="pwInput < 0">Value must be greater than 0</mat-error>
    </mat-form-field>

    <mat-checkbox
      name="monthly"
      [(ngModel)]="newExpense.monthly">Is this a monthly expense?
    </mat-checkbox>

    <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid === true">Submit</button>

  </form>

</section>


