<section class="saving-form" *ngIf="editedSaving">

  <form (ngSubmit)="editSaving()"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem">

    <legend>Edit Saving</legend>

    <mat-form-field hintLabel="Enter saving name">
      <input
        [(ngModel)]="editedSaving.name"
        type="text"
        matInput
        placeholder="Saving Name"
        ngModel
        name="name"
        required
        #usernameInput="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input
        [(ngModel)]="editedSaving.amount"
        type="number"
        matInput
        placeholder="Your Amount"
        ngModel
        name="amount"
        required
        #pwInput="ngModel">
    </mat-form-field>


    <button type="submit" mat-raised-button color="primary" >Save</button>

  </form>

</section>
