<div fxLayout="column"
     fxLayoutAlign="center center">
  <mat-card>
    <img mat-card-image src="./assets/images/404dog.jpg">
  </mat-card>

  <button class="button" mat-raised-button (click)="goToHome()">Go back to home</button>

  <a class="link" href='https://www.freepik.com/free-vector/404-error-web-template-with-cute-doggy_2234124.htm'>Designed by Freepik</a>
</div>



