
<section class="expense-form" *ngIf="editedExpense">

  <form (ngSubmit)="editExpense()"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem">

    <legend>Edit Expense</legend>

    <mat-form-field hintLabel="Enter expense name">
      <input
        [(ngModel)]="editedExpense.name"
        type="text"
        matInput
        placeholder="Expense Name"
        ngModel
        name="expenseName"
        required
        #usernameInput="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input
        [(ngModel)]="editedExpense.amount"
        type="number"
        matInput
        placeholder="Your Amount"
        ngModel
        name="expenseAmount"
        required
        #pwInput="ngModel">
    </mat-form-field>


    <button type="submit" mat-raised-button color="primary" >Save</button>

  </form>

</section>
