<div fxLayout="column" fxLayoutAlign="center center">

  <mat-form-field class="calendar">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [max]="maxDate"
           [(ngModel)]="selectedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div *ngIf=" selectedDate === undefined">
    <div *ngFor="let income of incomes">
      <div class="block">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.1rem">
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
            <tr><strong> {{ income.name }} </strong></tr>
            <tr>Amount: € {{income.amount}}</tr>
            <tr>Date: {{ income.date | date: 'dd-MM-yyyy' }}</tr>
          </div>
          <button routerLink="/edit-income/{{ income.id }}" type="submit" mat-button color="primary">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button (click)="onDelete(income.id)" type="submit" mat-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf=" selectedDate !== undefined">
    <div fxLayout="row" fxLayoutAlign="center center" class="show-all">
      <button (click)="updateIncomes()" type="submit" mat-raised-button color="accent">Show all</button>
    </div>

    <div class="block-income">
      <div *ngFor="let income of incomes">
        <div class="block">
          <div *ngIf=" (selectedDate | date: 'dd-MM-yyyy') === (income.date | date: 'dd-MM-yyyy')">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.1rem">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <tr><strong> {{ income.name }} </strong></tr>
                <tr>Amount: € {{income.amount}}€</tr>
                <tr>Date: {{ income.date | date: 'dd-MM-yyyy' }}</tr>
              </div>
              <button routerLink="/edit-income/{{ income.id }}" type="submit" mat-button color="primary">
                <mat-icon>mode_edit</mat-icon>
              </button>
            <button (click)="onDelete(income.id)" type="submit" mat-button color="primary">
              <mat-icon>delete</mat-icon>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
