mat-form-field{
  width: 250px;
}

.signup-message {
  padding: 15px;
  border-radius: 15px;
  color: #ff2128;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bolder;
}

.signup-form{
  margin-top: 3rem;
}

.fontSize {
  font-size: 1.3rem;
}
.register-link{
  color: #949995;
  font-size: 0.8rem;
}

.background{
  height: 640px;
  background-image: linear-gradient(to top, #63c0d6, #fef9ff);
}

img{
  height: 70px;
  width: auto;
}


