<div class="background">

  <br>
  <br>
  <br>
  <br>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
    <img class="logo" src="./assets/images/logo.png">
  </div>

  <section class="signup-form">

    <form (submit)="createNewUser()"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="1rem"
          #f="ngForm"
          (ngSubmit)="onSubmit(f)">

      <div class="signup-message" *ngIf="signupMessage">{{signupMessage}}</div>

      <legend class="fontSize" *ngIf="!signupMessage">Sign up</legend>

      <mat-form-field hintLabel="Enter valid username">
        <input
          [(ngModel)]="newUser.username"
          type="text"
          matInput
          placeholder="Your username"
          ngModel
          name="username"
          required
          #usernameInput="ngModel">
        <mat-error *ngIf="usernameInput.hasError('required')">Field must not be empty</mat-error>
      </mat-form-field>

      <mat-form-field hintLabel="Should be at least 6 characters long">
        <input
          [(ngModel)]="newUser.password"
          type="password"
          matInput
          placeholder="Your password"
          ngModel
          name="password"
          required
          minlength="6"
          #pwInput="ngModel">
        <mat-error>Has to be at least 6 characters long</mat-error>
        <mat-hint align="end"> {{pwInput.value?.length}} / 6</mat-hint>
      </mat-form-field>

      <mat-form-field hintLabel="Should match password">
        <input
          [(ngModel)]="newUser.confirmPassword"
          type="password"
          matInput
          placeholder="Confirm password"
          ngModel
          name="confirmPassword"
          required
          minlength="6"
          #confirmPassword="ngModel">
        <mat-error *ngIf="pwInput !== confirmPassword">Passwords do not match</mat-error>
      </mat-form-field>

      <!--<mat-checkbox
        ngModel name="agree"
        required>Agree to Terms & Conditions
      </mat-checkbox>-->
      <br>
      <button type="submit" mat-raised-button color="accent">Submit</button>

      <div class="register-link">
        <a routerLink="/login">Go back</a>
      </div>

    </form>

  </section>

</div>
