<div fxLayout="column" fxLayoutAlign="center center">

    <mat-form-field class="calendar">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [max]="maxDate"
             [(ngModel)]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  <div *ngIf=" selectedDate === undefined">
    <div *ngFor="let expense of expenses">
      <div class="block">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.1rem">
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
            <tr><strong> {{ expense.name }} </strong></tr>
            <tr>Price: € {{expense.amount}}</tr>
            <tr>Date: {{ expense.date | date: 'dd/MM/yyyy' }}</tr>
          </div>
          <button routerLink="/edit-expense/{{ expense.id }}" type="submit" mat-button color="primary">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button (click)="onDelete(expense.id)" type="submit" mat-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf=" selectedDate !== undefined">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button (click)="updateExpenses()" type="submit" mat-raised-button color="accent">Show all</button>
    </div>

    <div class="block-expense">
      <div *ngFor="let expense of expenses">
        <div class="block">
          <div *ngIf=" (selectedDate | date: 'dd/MM/yyyy') === (expense.date | date: 'dd/MM/yyyy')">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.1rem">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <tr><strong> {{ expense.name }} </strong></tr>
                <tr>Price: {{expense.amount}}€</tr>
                <tr>Date: {{ expense.date | date: 'dd/MM/yyyy' }}</tr>
              </div>
              <button routerLink="/edit-expense/{{ expense.id }}" type="submit" mat-button color="primary">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button (click)="onDelete(expense.id)" type="submit" mat-button color="primary">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
