

<mat-tab-group >
  <mat-tab label="Expenses">
    <app-expense-history></app-expense-history>
  </mat-tab>
  <mat-tab label="Incomes">
    <app-income-history></app-income-history>
  </mat-tab>
  <mat-tab label="Savings">
    <app-saving-history></app-saving-history>
  </mat-tab>
</mat-tab-group>

