<section class="income-form" *ngIf="editedIncome">

  <form (submit)="editIncome()"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem">

    <legend>New Income</legend>

    <mat-form-field hintLabel="Enter income name">
      <input
        [(ngModel)]="editedIncome.name"
        type="text"
        matInput
        placeholder="Income Name"
        ngModel
        name="incomeName"
        required
        #usernameInput="ngModel">
    </mat-form-field>

    <mat-form-field>
      <input
        [(ngModel)]="editedIncome.amount"
        type="number"
        matInput
        placeholder="Your Amount"
        ngModel
        name="incomeAmount"
        required
        #pwInput="ngModel">
    </mat-form-field>


    <button type="submit" mat-raised-button color="primary" >Save</button>

  </form>

</section>

