<mat-toolbar *ngIf="user" color="primary">

  <div *ngIf="user" fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a *ngIf="user" routerLink="/budget"><i class="fas fa-home"></i></a>
    <a *ngIf="user === null" routerLink="/"><i class="fas fa-home"></i></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs>
    <ul fxLayout fxLayoutGap="1rem" class="navigation-items">
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ul>
  </div>
</mat-toolbar>
