<section class="budget">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5rem">

    <p class="label">Budget for today</p>
    <p class="current-budget">€{{budget.currentDailyBudget}}</p>

    <div class="details">
      <div class="labels" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
        <!--<p>Daily budget: €{{budget.dailyBudget}}</p>-->
        <p class="present-month">{{presentMonth}}</p>
        <p>Remaining budget: €{{budget.total}}</p>
        <p>Remaining days: {{budget.daysUntilMonthEnd}}</p>
        <p>Savings: €{{budget.saving}}</p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5rem">
      <button (click)="goToIncome()" type="submit" mat-mini-fab color="accent" matTooltip="New income" matTooltipPosition="below">
        <i class="fas fa-plus"></i>
      </button>
      <button (click)="goToExpense()" type="submit" mat-mini-fab color="accent" matTooltip="New expense" matTooltipPosition="below">
        <i class="fas fa-minus"></i>
      </button>
    </div>
    <br>
    <br>
    <br>
    <div class="saving-link">
      Want to save more money? <a routerLink="/saving">Add to your savings</a>
    </div>


  </div>

</section>


