.budget{
  margin-top: 3rem;
}

.current-budget {
  margin: 0;
  padding: 0;
  font-size: 4rem;
}

.label{
  font-size: 1rem;
}

.labels {
  margin: 0;
  padding: 0;
}

.far{
  font-size: 1.3rem;
}

.saving-link{
  color: black;
  font-size: 0.8rem;
}

a:hover{
  color: lightskyblue;
}

.details {
  margin-top: 0.5rem;
}

.present-month{
  color: #03a9f4;
  font-weight: bolder;
  font-size: 1.5rem;
}


