
<section class="income-form">

  <form (submit)="createIncome()"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">

    <legend *ngIf="negativeAmount === false">New Income</legend>

    <div class="negative-amount-error-message" *ngIf="negativeAmount">Incomes are greater than 0</div>

    <mat-form-field hintLabel="Enter income name">
      <input
        [(ngModel)]="newIncome.name"
        type="text"
        matInput
        placeholder="Income Name"
        ngModel
        name="name"
        required
        #usernameInput="ngModel">
      <mat-error *ngIf="usernameInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        [(ngModel)]="newIncome.amount"
        type="number"
        matInput
        placeholder="Your Amount"
        ngModel
        name="amount"
        required
        #pwInput="ngModel">
    </mat-form-field>

    <mat-checkbox
      name="monthly"
      [(ngModel)]="newIncome.monthly">Is this a monthly income?
    </mat-checkbox>


    <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid === true">Submit</button>

  </form>

</section>

