<div fxLayout="column" fxLayoutAlign="center center">

  <mat-form-field class="calendar">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [max]="maxDate"
           [(ngModel)]="selectedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div *ngIf=" selectedDate === undefined">
    <div *ngFor="let saving of savings">
      <div class="block">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.1rem">
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
            <tr><strong> {{ saving.name }} </strong></tr>
            <tr>Price: € {{saving.amount}}</tr>
            <tr>Date: {{ saving.date | date: 'dd/MM/yyyy' }} </tr>
          </div>
          <button routerLink="/edit-saving/{{ saving.id }}" type="submit" mat-button color="primary">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button (click)="onDelete(saving.id)" type="submit" mat-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf=" selectedDate !== undefined">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button (click)="updateSavings()" type="submit" mat-raised-button color="accent">Show all</button>
    </div>

    <div class="block-savings">
      <div *ngFor="let saving of savings">
        <div class="block">
          <div *ngIf=" (selectedDate | date: 'dd/MM/yyyy') === (saving.date | date: 'dd/MM/yyyy')">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.1rem">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <tr><strong> {{ saving.name }} </strong></tr>
                <tr>Price: {{saving.amount}}€</tr>
                <tr>Date: {{ saving.date | date: 'dd/MM/yyyy' }} </tr>
              </div>
              <button routerLink="/edit-saving/{{ saving.id }}" type="submit" mat-button color="primary">
                <mat-icon>mode_edit</mat-icon>
              </button>
              <button (click)="onDelete(saving.id)" type="submit" mat-button color="primary">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
