.saving-form {
  margin-top: 3rem;
}

.negative-amount-error-message {
  background-color: #f44336;
  padding: 15px;
  border-radius: 15px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}
