
<section class="saving-form">

  <form (submit)="createSaving()"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1rem"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">

    <legend *ngIf="!negativeAmount">New Savings</legend>

    <div class="negative-amount-error-message" *ngIf="negativeAmount">Savings are greater than 0</div>

    <mat-form-field hintLabel="Enter savings name">
      <input
        [(ngModel)]="newSaving.name"
        type="text"
        matInput
        placeholder="Savings Name"
        ngModel
        name="name"
        required
        #saving="ngModel">
      <mat-error *ngIf="saving.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        [(ngModel)]="newSaving.amount"
        type="number"
        matInput
        placeholder="Your Amount"
        ngModel
        name="amount"
        required
        #amount="ngModel">
    </mat-form-field>

    <mat-checkbox
      name="monthly"
      [(ngModel)]="newSaving.monthly">Are these monthly savings?
    </mat-checkbox>

    <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid === true">Submit</button>

  </form>

</section>




